<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>

<h1>Fresh Blogs</h1>

<% @posts.each do |post| %>
  <div class="entry">
    <h3><%= post.title %></h3>
    <%= sanitize(post.content) %>
  </div>
<% end %>